[APP]
LOG_LEVEL=DEBUG
SERVICES_CONF=service_config.yaml
BASE_PATH=/opt/operator
LOG_PATH=/logs
[MLFLOW]
MYSQL_DATABASE=mlflow_tracking_database
MYSQL_USER=root
MYSQL_PASSWORD=123123
TRACKING_SERVER=http://138.68.70.41:5000
[CELERY]
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0
[MODEL]
